body {
    font-family: Arial, sans-serif;
    background-color: #530082;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    background-color: #8873EB;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-family: "Roboto Slab";
    font-size: 24px;
    margin: 0;
    color: white;
}

.footer-container {
    background-color: #8873EB;
    padding: 10px;
    text-align: center;
}

.footer-content {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.timer {
    font-family: "Roboto Slab";
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 40px;
}

p#message {
    font-family: "Roboto Slab";
    font-size: 20px;
    color: white;
    text-align: center;
}

button,
.delete,
.deleteall-button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    color: #530082;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button:hover,
.delete:hover,
.deleteall-button:hover {
    background-color: #530082;
    color: white;
}

.timer-container {
    background-color: #8873EB;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 120px; /* Ajuste a distância aqui */
}

.task {
    background-color: #8873EB;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 350px; /* Defina o valor da largura desejada */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

#newtask input[type="text"] {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskname {
    flex: 1;
    color: white;
    margin-right: 10px;
}

#tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    .header-title {
        font-size: 18px;
    }

    .timer {
        font-size: 40px;
    }
}