body {
    font-family: Arial, sans-serif;
    background-color: #530082;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.header-container {
    background-color: #8873EB;
    padding: 20px;
    display: flex;
    align-items: flex-start; /* Alterado */
    justify-content: center; /* Alterado */
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
}

.header-title {
    font-size: 24px;
    margin: 0;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.timer,
p#message {
    font-size: 40px;
    color: white;
    text-align: center;
}

button,
.delete,
.deleteall-button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    color: #530082;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button:hover,
.delete:hover,
.deleteall-button:hover {
    background-color: #530082;
    color: white;
}

.timer-container,
.task {
    background-color: #8873EB;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px; 
}    

.container {
    text-align: center;
    margin-top: 100px;
}

#newtask input[type="text"] {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#taskname {
    flex: 1;
    color: white;
    margin-right: 10px;
}

#tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}